*{
  margin:0;
  padding:0;
  text-decoration: none;
  
}
main{
  width: 100%;
  padding: 3vw;
  overflow-y: scroll;
}
.sidebar{
  margin-left: 0;
  background: #000;
  color: #fff;
  height: 80vh;
  width: 20vw;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:2vh 1.5vw;
}
.bars{
  display: flex;
  cursor: pointer;
  font-size: 2vw;
  justify-content: center;
}
.link{
  display: flex;
  color: #fff;
  padding: 1vw 2vw;
  gap: 2vw;
  transition: all 0.5s;
  cursor: pointer;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 1.7vw;
}